/*
 * For all media (print, screen)
 */

/* you can import partial SCSS files */
/* @import '_valiables'; */
/* @import '_toc'; */
/* ... */

@import '_variables';
@import '_lib-prism-okaidia';
@import '_lib-override';
@import '_base';
@import '_counter';
@import '_media';
@import '_toc';

/* and more... 🖋 */
$dark_scarlet: #560319;

@page :nth(1) {
  counter-increment: none;
}

/* Modified from theme-techbook _toc.scss */
h1 {
  display: none;
}
/*
h2 {
  text-indent: 0;
}
*/
nav ol {
  padding: 0;
  list-style: none;
}

nav#toc,
nav[role='doc-toc'] {
  break-before: page;
  font-size: 120%;

  li {
      list-style-type: decimal;
  }

  /*
  li a::after {
    content: target-counter(attr(href), page);
  }
  li a {
    display: inline-flex;
    width: 100%;
    text-decoration: none;
    color: currentColor;
    align-items: baseline;
  }
  li a::before {
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-bottom: solid 1px;
    content: '';
    order: 1;
    flex: auto;
  }
*/
  li a::after {
    text-align: right;
    content: target-counter(attr(href), page);
    align-self: flex-end;
    flex: none;
    order: 2;
  }
}
