/*
 * For screen media
 */
@import 'theme_screen';
@import 'dncg.content.common';

// theme color

@page :first {
    background-color: black;
    marks: crop cross;
    bleed: 3mm;
    margin: -3mm;
}

// See https://qiita.com/seagetch/items/1384a29c49c75113123c
hr.page-wrap {
    break-after: all;
    visibility: hidden;
    margin: 0px;
    padding: 0px;
    height: 0px;
}

section.column h4::before {
    content: "🔰";
}

h1 {
    background-color: $color_scarlet_dark;
}

/*
  Style for section title
*/
h2 {
    border-color: $color_black_dark;
    border-radium: 0.2em;
}

/*
  Style for sub-section title
*/
h3 {
    &::before {
        content: "🍥";
        display: inline;
    }
    //text-decoration: none;
    border-bottom: 1px solid black;
    padding-bottom: 3px;
}

p code {
    border-radius: 0.2em;
}
