/*
 * For PDF publications or Vivliostyle Viewer:
 * load this style in PDF publicatoins (format: pdf)
 */

/* common styles */
@import 'theme_print';
@import 'dncg.content.common';

/* and more... 🖋 */

/*
  Style for chapter title
*/
h1 {
    background-color: $color_black_dark;
}

/*
  Style for section title
*/
h2 {
    border-color: $color_black_dark;
}

/*
  Style for sub-section title
*/
h3 {
    &::before {
        content: "■ ";
        display: inline;
    }
}

/*
  Style for column title
*/
section.column h4::before {
    content: "● ";
}

/*
  Style for content body. Do not use gray for linked text
*/
a {
    color: black;
}

/*
  Style for footnote. Do not use gray for linked text
*/
.footnote {
    a {
        color: black;
    }
}

/*
  Style for `...`
*/
code {
    font-weight: 900;
}
