/*
 * For all media (print, screen)
 */

@import '_variables';
$color_scarlet_dark: #560319;

/*
  Style for column
*/
section.column {
    border-width: 1px;
    border-style: solid;
    padding: 0.5em;
    border-radius: 10px;
}

/*
  Style for column title
*/
section.column h4 {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}

/*
  Style for warning
*/
section.warning {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    background-color: lightgray;
    padding: 0.75em;
    &::before {
        content: "【注意】"
    }
}

/*
  Style for summary
*/
section.summary {
    li{
        position: relative;
        padding-left: 25px;
        list-style-type: none;
    }
    li:before {
        content: "";
        position: absolute;
        top: .35em;
        left: 6px;
        transform: rotate(50deg);
        width: 3px;
        height: 7px;
        border-right: 2px solid $color_black_dark;
        border-bottom: 2px solid $color_black_dark;
    }
    li:after {
        content: "";
        position: absolute;
        top: .2em;
        left: 0;
        width: 15px;
        height: 15px;
        border: 1px solid $color_black_dark;
        border-radius: 2px;
    }
}

@page :nth(1) {
    counter-increment: chapter p;
}

/*
  Style for chapter title
*/
h1 {
    &::before {
        content: "第 " counter(chapter) " 章 ";
        display: inline;
    }

    border-style: solid;
    border-width: 0px 0px 0px 10px;
    border-radius: 10px;
    background-color: gray;
    color: white;
    padding: 0.5em;
}

/*
  Style for practice chapter title
  Use frontmatter class: practice
*/
body.practice {
    section {
        h1 {
            &::before {
                content: "";
                display: inline;
            }
        }
    }
}

h2 {
    border-style: solid;
    border-width: 0px 0px 1px 10px;
    padding-left: 0.5em;
    border-color: gray;
}

/*
  Style for:

  ```
  ...
  ```
*/
code[class*='language-'] {
    font-size: 0.7em;
}

/*
  Style for **text**
*/
p strong {
    text-decoration-line: underline;
    text-decoration-style: dashed;
}

/*
  Style for:

  ```cmd:title
  ...
  ```
*/
figure[class^='language-'] figcaption {
    &::before {
        content: "【"
    }
    &::after {
        content: "】"
    }
    font-size: 0.7em;
    break-after: avoid;
}

/*
 Style for page break
*/
hr {
    page-break-after: always;
    border-style: none;
}

